
.container-fluid {
  padding: 0;
  overflow: hidden;

}

.row {
  width: 100%;
  margin: 75px auto auto auto;
  overflow: hidden;
}

/*--------Navigation style starts here---------*/

.nav {
  padding-top: 15px;
  position: relative;
  z-index: 10;
}

.navbar {
  background-color: white;
}

.nav li {
  font-family: Roboto, sans-serif;
  font-size: .75em;
  color: slategrey;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}

.nav .center {
  display: inline-block;
  float: none;
  text-align: center;
}

.nav .text-left {
  padding-left: 65px;
}

.nav a{
  color: slategrey;
  padding-right: 25px;
}

.nav a:hover {
  color: orangered;
  text-decoration: none;
}

.nav .text-right {
  padding-right: 40px;
}

.day {
  font-family: Heebo, sans-serif;
  letter-spacing: 2px;
  border: 2px solid #151515;
  width: 30px;
  padding: 3px 0 3px 3px;
  display: inline-block;
  color: #151515;


}

/*--------Day 1 starts here---------*/

#one .content {
  background-color: #F2F905;
  padding: 15rem 0 12rem 0;
}

#one .container-fluid {
  padding: 0;
  overflow: hidden;

}

#one .row {
  width: 100%;
  margin: 75px auto auto auto;
  overflow: hidden;
}

#one .firstfont {
  font-family: Heebo, sans-serif;
  margin-top: 25px;
  letter-spacing: 5px;
  font-size: 7em;
  font-weight: 700;
  line-height: 1.25em;
  color: #D2D813;
  overflow: hidden;

} 

#one .secondfont {
  font-family: 'Ubuntu Mono', serif;
  font-size: 1.25em;
  line-height: 1.85em;
  margin-top: 25px;
  margin-right: 25px;
  color: #000000;
} 

#one .colophon {
  font-family: Roboto, sans-serif;
  font-size: .75em;
  font-weight: 400;
  line-height: 2.5em;
  margin: 10rem 0 0 0;
  padding: 0 5rem 0 5rem;
  letter-spacing: 3px;
}

#one a {
  color: #FF5733;
}

#one a:hover {
  text-decoration: none;
  color: 000000;
}


/*--------Day 2 starts here---------*/

#two .content {
  background-color: #DAE0E4;
  padding: 15rem 0 12rem 0;
}

#two p
{
  line-height: 4em;
}

#two .row {
    margin-left: 50px;
}
#two .firstfont {
  font-family: 'Raleway', sans serif;
  letter-spacing: 5px;
  font-size: 4.25em;
  font-weight: 700;
  line-height: 1.25em;
  color: #89B4E2;
  overflow: hidden;
} 

#two .secondfont-first {
  font-family: 'Noticia Text', serif;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 400;
  width: 75%;
  margin-top: 50px;
  text-justify: auto;
  line-height: 1.85em;
  color: #000000;

}

#two .secondfont-firsttwo {
  font-family: 'Noticia Text', serif;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 400;
  width: 75%;
  line-height: 1.85em;
  color: #000000;
  text-align: left;

}

#two .secondfont-second {
  font-family: 'Noticia Text', serif;
  font-style: normal;
  font-size: 1.5em;
  font-weight: 400;
  width: 75%;;
  line-height: 1em;
  color: #000000;
  text-align: right;
} 

#two .secondfont-third {
  font-family: 'Noticia Text', serif;
  font-style: normal;
  font-size: 1.5em;
  font-weight: 400;
  width: 75%;
  line-height: 1em;
  color: #000000;
  text-align: center;
} 

#two .colophon {
  font-family: Roboto, sans-serif;
  font-size: .75em;
  font-weight: 400;
  line-height: 2.5em;
  margin: 10rem 0 0 0;
  padding: 0 5rem 0 5rem;
  letter-spacing: 3px;
}

#two a {
  color: orangered;
}

#two a:hover {
  text-decoration: none;
  color: slategrey;
}





/*--------Day 3 starts here---------*/

#three .content {
  background-color: #5B537C;
  padding: 15rem 0 12rem 0;
}

#three .day {
  color: #EAEAEF;
  border: 2px solid #EAEAEF;
}

#three .firstfont  {
  font-family: 'Forum', serif;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 1.25em;
  color: #FEBD02;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 25px;
} 

#three hr {
  width: 8%;
  border: .25px solid #EAEAEF;
}

#three .secondfont {
  margin-top: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.5em;
  line-height: 1.75em;
  color: #FCFCFB;
  text-align: justify center;
} 

#three .author {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 1.5em;
  letter-spacing: 1px;
}


#three .colophon {
  font-family: Roboto, sans-serif;
  color: #EAEAEF;
  font-size: .75em;
  line-height: 2.5em;
  margin: 8rem 0 0 0;
  padding: 0 5rem 0 5rem;
  letter-spacing: 3px;
}

#three a {
  color: orangered;
}

#three a:hover {
  text-decoration: none;
  color: #e6ff5d;
}

/*--------Day 4 starts here---------*/

#four .content {
  background-color: #011230;
  padding: 15rem 0 12rem 0;
}

#four .day {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

#four .firstfont {
  font-family: 'Monoton', cursive;
  font-size: 4.25em;
  letter-spacing: 10px;
  line-height: 1.1em;
  color: #99E33B;
  width: 95%;
  margin-top: 50px;
  padding-top: 30px;
  overflow: hidden;
  -ms-transform: rotate(-12deg); /* IE 9 */
  -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
  transform: rotate(-12deg);
}

#four .secondfont {
  font-family: 'Assistant', sans-serif;
  letter-spacing: 1px;
  font-size: 1.25em;
  line-height: 1em;
  color: #E5EEE4;
  width: 95%;
  margin-top: -200px;
  padding-left: 100px;
  padding-right: 100px;
}

#four .colophon {
  font-family: Heebo, sans-serif;
  color: #FFFFFF;
  font-size: .75em;
  line-height: 2.5em;
  margin: 8rem 0 0 0;
  padding: 0 5rem 0 5rem;
  letter-spacing: 3px;
}

#four a {
  color: orangered;
}

#four a:hover {
  text-decoration: none;
  color: slategrey;
}


/*--------Day 5 starts here---------*/

#five .content {
  
  background-color: #1B1B25;
  padding: 15rem 0 12rem 0;
}

#five .day {
  color: snow;
  border: 2px solid snow;
}

#five .firstfont  {
  padding: 50px;
  font-family: 'Arima Madurai', cursive;
  font-size: 4em;
  margin: auto;
  color: #CBE7FA;
} 

#five .secondfont {
  font-family: Lora, serif;
  font-size: .85em;
  letter-spacing: 4px;
  line-height: 2em;
  width: 95%;
  margin: auto;
  color: snow;
} 

.two {
  padding-bottom:30rem;
  position: relative;
  -ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
  transform: rotate(-5deg);
}

.three {
  padding-bottom:-10rem;
  position: relative;
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
  transform: rotate(5deg);
}

.four {
  padding-bottom:20rem;
  position: relative;
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
  transform: rotate(5deg);
}

.five { 
  padding-bottom:-30rem;
  position: relative;
}

.six {
  padding-bottom:15rem;
  position: relative;
}

#five .colophon {
  font-family: Heebo, sans-serif;
  color: snow;
  font-size: .75em;
  line-height: 2.5em;
  margin: 8rem 0 0 0;
  padding: 0 5rem 0 5rem;
  letter-spacing: 3px;
}

#five a {
  color: yellow;
}

#five a:hover {
  text-decoration: none;
  color: slategrey;
}
/*---------End Day 5---------------*/

/*--------Day 6 starts here---------*/

#six .content {
  background-color: #faf6f2;
  padding: 15rem 0 12rem 0;
}


#six .row {
  width: 95%;
  margin: 75px auto auto auto;

}

#six .firstfont  {
  font-family: 'Lobster Two', cursive;
  font-size: 10em;
  letter-spacing: 2px;
  line-height: 1.5em;
  color: #000000;
  overflow: hidden;

} 

#six .secondfont {
  font-family: 'Unica One', cursive;
  letter-spacing: .5px;
  font-size: 2em;
  line-height: 1.75em;
  color: #F3CAAB;
} 

#six .colophon {
  font-family: Heebo, sans-serif;
  color: #672105;
  font-size: .75em;
  line-height: 2.5em;
  margin: 8rem 0 0 0;
  padding: 0 1rem 0 1rem;
  letter-spacing: 3px;
  display: inline-block;
}

#six a {
  color: #F6710C;
}

#six a:hover {
  text-decoration: none;
  color: #672105;

}

/*-------End Day 6------*/

/*--------Day 7 starts here---------*/

#seven .content {
  background-color: rosybrown;
  padding: 15rem 0 12rem 0;
}

#seven .row {
  width: 95%;
  margin: 75px auto auto auto;

}

#seven .firstfont  {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  letter-spacing: 1px;
  line-height: 1.5em;
  color: snow;
} 

#seven .secondfont {
  font-family: 'Petit Formal Script', cursive;
  letter-spacing: .5px;
  font-size: 1.5em;
  line-height: 1em;
  color: snow;
}

#seven .colophon {
  font-family: Heebo, sans-serif;
  color: snow;
  font-size: .75em;
  line-height: 2.5em;
  margin: 8rem 0 0 0;
  padding: 0 1rem 0 1rem;
  letter-spacing: 3px;
  display: inline-block;
}

#seven a {
  color: #151515;
}

#seven a:hover {
  text-decoration: none;
  color: slategrey;
}

/*-------End Day 7------*/
/*--------Day 8 starts here---------*/
#eight .content {
padding: 15rem 0 12rem 0;
background: linear-gradient(270deg, #e53d10, #e5a410, #e5d310, #73d286, #036FF9, #308ec9, #6a6ac3, #a16ac3, #F93B03, #F99803);
background-size: 1400% 1400%;
animation-name: Rainbow;
animation-duration: 3s;

-webkit-animation: Rainbow 30s ease infinite;
-moz-animation: Rainbow 30s ease infinite;
animation: Rainbow 30s ease infinite;

}

@-webkit-keyframes Rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
}
#eight .row {
  width: 95%;
  margin: 75px auto auto auto;
}

#eight .firstfont  {
  font-family: 'Space Mono', monospace;
  font-size: 1.5em;
  letter-spacing: 1px;
  color: snow;
} 

#eight .secondfont {
  font-family: 'Righteous', cursive;
  letter-spacing: 2.5px;
  line-height: 1em;
  font-size: 3em;
  color: snow;
}

#eight .colophon {
  font-family: Heebo, sans-serif;
  color: snow;
  font-size: .75em;
  line-height: 2.5em;
  margin: 8rem 0 0 0;
  padding: 0 1rem 0 1rem;
  letter-spacing: 3px;
  display: inline-block;
}

#eight a {
  color: #151515;
}

#eight a:hover {
  text-decoration: none;
  color: slategrey;
}

